/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

.form-container {
  text-align: center;
}

.search-input {
  box-sizing: border-box;
  border: 1px solid #808080;
  border-radius: 4px;

  width: 272px;
  height: 40px;
  background: transparent;

  padding-left: 16px;
  outline: none;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

.search-btn {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  transition: background-color 250 linear;
}

.search-btn:focus,
.search-btn:hover {
  background-color: #6c8cff;
}

/* images list */

.img-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.description-list {
  display: flex;
  justify-content: space-around;
}

.description-item {
  text-align: center;
}

.description-item:not(:last-child) {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: red;
}
